.about {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.column {
  padding: 40px;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}
